@import '../carousel'
@import '../../shared'

.container
    position: absolute
    top: 0
    left: 0
    // For some reason using viewport units makes scrolling faster than e.g. percentage
    height: 100vh
    width: 100vw
    overflow: hidden
    perspective: 0px
    transform-style: preserve-3d
    background-color: $background-color

.carousel
    position: absolute
    top: 0
    left: 0
    // For some reason using viewport units makes scrolling faster than e.g. percentage
    height: 100vh
    width: 100vw
    overflow-x: hidden
    overflow-y: auto
    overscroll-behavior: none
    // display: flexbox
    // background-image: linear-gradient(to bottom, white, rgb(120, 120, 140))
    // Needed for the nice smooth slide on devices.
    // Combined with animated opacity, this feature causes some weird, shaking bugs when you scroll to either end
    // on ios webkit
    -webkit-overflow-scrolling: touch
    // This feature bugs in IOS (both Safari and Chrome)
    // https://stackoverflow.com/questions/52989070/css-scroll-snap-visual-glitches-on-ios-when-programmatically-setting-style-on
    // The bug only happens when used together with animated opacity. Disable for now.
    // scroll-snap-type: y mandatory

.scroll-container
    position: absolute
    top: 0
    left: 0
    width: 100%
    // background-color: pink


.item
    position: absolute
    overflow: hidden
    will-change: transform
    background-color: black
    width: 100%
    // transform-origin: 50% 50%
    // top: 0
    // left: 0
    // text-align: center
    box-shadow: rgba(0, 0, 30, 0.7) 0 5px 5px
    // overflow: hidden



