@import '../carousel'
@import '../../shared'

.screenshot
    display: block
    position: absolute
    left: 50%
    max-height: 100%
    transform: translateX(-50%) translateX(-20px) translateZ(-1em)

.background
    position: absolute
    top: 50%
    left: 45%
    height: 256px
    width: 256px
    will-change: transform
    overflow: hidden
    opacity: 0.7


.content
    position: absolute
    left: 50%
    top: 50%
    user-select: none
    pointer-events: none
    color: white
    overflow: hidden

.actions
    top: 50%
    width: 32px
    display: flex
    flex-direction: column

.action
    user-select: none
    display: flex
    align-items: center
    box-sizing: content-box
    padding: 4px 0 4px 0
    cursor: pointer
    pointer-events: auto
    // For some reason I don't understand, the action icons kept getting repainted so promoted to their own layer.
    will-change: transform

.action-icon
    width: 32px
    height: 32px
    box-sizing: content-box

.title
    position: absolute
    left: 0
    bottom: 0
    color: white
    pointer-events: none
    user-select: none
    white-space: nowrap 
    will-change: transform
    transform-origin: 0% 100%

.text-area
    position: absolute
    width: 100%
    height: 100%
    right: 0
    display: flex
    flex-direction: row
    align-items: center
    justify-content: flex-end
    will-change: opacity
    text-align: right

.separator
    width: 1px
    margin: 0 8px 0 8px
    transform: scaleY(0.9)
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1), rgba(255, 255, 255, 0))

.credit
    padding-bottom: 3%
    line-height: 85%

.role
    color: lightgray

.event
    line-height: 95%
    padding-bottom: 15%


