<img [src]="backgroundImage" class="background" [style.transform]="backgroundTransform" />
<img [src]="foregroundImage" class="screenshot" />

<div class="content" 
    [style.width]="contentWidth | suffix: 'px'" 
    [style.height]="contentHeight | suffix: 'px'"
    [style.transform]="contentTransform">


    <div class="title" [style.font-size]="titleFontSize | suffix: 'pt'" [style.opacity]="focus">"{{ content.title }}" ({{ content.year }})</div>

    <div class="text-area" [style.opacity]="opacity" [style.font-size]="options.subtitleFontSize">
        <div>
            <div class="event" [style.font-size]="eventFontSize | suffix: 'pt'">
                <div>{{ content.event }}</div>
                <div *ngIf="content.ranked">#{{ content.ranked }} {{ content.category }}</div>
            </div>
             
            <div *ngFor="let credit of content.credits" class="credit">
                <div class="role" [style.font-size]="roleFontSize | suffix: 'pt'"> {{ credit.role }} </div>
                <div class="name"  [style.font-size]="nameFontSize | suffix: 'pt'"> {{ credit.name }} </div>
            </div>
        </div>
        <div class="separator" [style.height]="contentHeight | suffix: 'px'"></div>
        <div class="actions">

            <div *ngFor="let link of content.links, let i = index" class="action" (click)="openLink(i)" [@boom]="clickedLink[i]">
                <img src="assets/{{ link.id }}-icon.png" class="action-icon">
            </div>
        </div>
    </div>
</div>