<img [src]="backgroundImage" class="background" [style.transform]="backgroundTransform" />
<img [src]="foregroundImage" class="screenshot" />

<div class="content" 
    [style.width]="contentWidth | suffix: 'px'" 
    [style.height]="contentHeight | suffix: 'px'"
    [style.transform]="contentTransform">

    <div class="text-area" [style.opacity]="opacity">
        <div>
            <div class="title" [style.font-size]="style.titleFontSize | suffix: 'pt'">"{{ content.title }}" ({{ content.year }})</div>
            <div class="event" [style.font-size]="style.eventFontSize | suffix: 'pt'">{{ content.ranked ? '#' + content.ranked : '' }} {{ content.category }} {{ content.event }}</div>
                 
            <div *ngFor="let credit of content.credits">
                <div class="role" [style.font-size]="style.roleFontSize | suffix: 'pt'"> {{ credit.role }} </div>
                <div class="name"  [style.font-size]="style.nameFontSize | suffix: 'pt'"> {{ credit.name }} </div>
            </div>
        </div>
        <div class="separator" [style.height]="contentHeight | suffix: 'px'"></div>
        <div class="actions">

            <div *ngFor="let link of content.links, let i = index" class="action" (click)="openLink(i)" [@boom]="clickedLink[i]">
                <img src="assets/{{ link.id }}-icon.png" class="action-icon">
            </div>
        </div>
    </div>
</div>