@import '../carousel'
@import '../../shared'

.item-image
    display: block
    position: absolute
    top: 0
    left: 50%
    max-height: 100%
    transform: translateX(-50%) translateZ(-1em)

.item-background
    position: absolute
    top: 50%
    left: 50%
    height: 256px
    width: 256px
    will-change: transform
    overflow: hidden


.content
    position: absolute
    left: 50%
    top: 0
    height: 100%
    transform: translateX(-50%) translateZ(2em)
    user-select: none
    pointer-events: none
    // will-change: opacity
    color: white
    oveflow: hidden

.actions
    position: absolute
    bottom: 0
    left: 50%
    height: 40px
    display: flex
    flex-direction: row
    will-change: transform
    transform-origin: 50% 100%
    transform: translateX(-50%) scale(0.3)

.action
    user-select: none
    display: flex
    align-items: center
    box-sizing: content-box
    padding: 0 8px 0 8px
    cursor: pointer
    pointer-events: auto
    // For some reason I don't understand, the action icons kept getting repainted so promoted to their own layer.
    will-change: transform

.action-icon
    width: 32px
    height: 32px
    box-sizing: content-box
    padding: 2px

.title
    width: 100%
    color: white
    pointer-events: none
    user-select: none
    padding: 2px 0 0 0

.subtitle
    width: 100%
    text-align: left
    color: white
    pointer-events: none
    user-select: none

