.carousel
    height: 100%
    width: 100%
    overflow-y: scroll
    overflow-x: hidden
    scroll-snap-type: y mandatory
    // Needed for the nice smooth slide on devices
    -webkit-overflow-scrolling: touch
    background-color: rgb(30, 30, 35)

.background
    mix-blend-mode: hard-light
    position: absolute
    height: 100%
    width: 100%
    background-image: url('../../assets/texture6.jpeg')
    background-size: cover
    opacity: 1


.carousel-item-container
    display: block
    position: relative
    width: 100%
    scroll-snap-align: start
    box-sizing: border-box

    
.carousel-item
    position: absolute
    width: 100%
    height: 100%
    overflow: hidden
    will-change: transform
    user-select: none
    pointer-events: none
    box-shadow: rgba(0, 0, 0, 0.5) 0 5px 5px

#content
    position: absolute
    left: 0
    width: 100%
    user-select: none
    pointer-events: none
    display: flex
    flex-direction: column

.title
    color: white
    font-size: 30pt
    box-sizing: border-box
    padding-left: 50px

.actions
    position: absolute
    bottom: 0
    left: 50%
    height: 40px
    transform: translate(-50%, 0%)
    display: flex
    flex-direction: row

.action
    user-select: none
    display: flex
    align-items: center
    box-sizing: content-box
    padding: 0 8px 0 8px
    cursor: pointer

.github-icon
    width: 20px
    height: 20px
    box-sizing: content-box
    padding: 2px
