.carousel
    height: 100%
    width: 100%
    overflow-y: scroll
    overflow-x: hidden
    // This feature bugs in IOS (both Safari and Chrome)
    // https://stackoverflow.com/questions/52989070/css-scroll-snap-visual-glitches-on-ios-when-programmatically-setting-style-on
    // The bug only happens when used together with animated opacity
    scroll-snap-type: y mandatory
    // Needed for the nice smooth slide on devices
    -webkit-overflow-scrolling: touch
    // background-color: rgb(30, 30, 35)
    // background-color: rgb(255, 255, 255)

.background
    position: absolute
    height: 100%
    width: 100%
    background-image: linear-gradient(to bottom, white, rgb(220, 220, 225))
    pointer-events: none
    user-select: none

.carousel-item-container
    display: block
    position: relative
    width: 100%
    scroll-snap-align: start
    pointer-events: none

    
.carousel-item
    position: absolute
    width: 100%
    height: 100%
    overflow: hidden
    will-change: transform
    user-select: none
    pointer-events: none
    box-shadow: rgba(0, 0, 0, 0.5) 0 5px 5px

.content
    position: absolute
    left: 0
    top: 0
    width: 100%
    height: 100%
    user-select: none
    pointer-events: none
    display: flex
    flex-direction: column
    will-change: opacity

.title
    color: white
    font-size: 30pt
    box-sizing: border-box
    padding-left: 50px
    pointer-events: none
    user-select: none

.actions
    position: absolute
    bottom: 0
    left: 50%
    height: 40px
    transform: translate(-50%, 0%)
    display: flex
    flex-direction: row

.action
    user-select: none
    display: flex
    align-items: center
    box-sizing: content-box
    padding: 0 8px 0 8px
    cursor: pointer
    pointer-events: auto

.github-icon
    width: 20px
    height: 20px
    box-sizing: content-box
    padding: 2px
