@import '../../shared'

.carousel
    position: relative
    height: 100%
    width: 100%
    overflow-x: hidden
    overflow-y: auto
    display: flexbox
    -webkit-overflow-scrolling: touch
    // The scroll-snap feature causes weird bugs when combined with animated opacity (IOS/webkit, both Safari and Chrome)
    // https://stackoverflow.com/questions/52989070/css-scroll-snap-visual-glitches-on-ios-when-programmatically-setting-style-on
    scroll-snap-type: y mandatory
    pointer-events: auto
    box-sizing: border-box

.section-wrapper
    pointer-events: none
    position: relative
    width: 100%
    scroll-snap-align: start
    max-width: 1600px
    left: 50%
    transform: translateX(-50%)

.section-transform
    will-change: transform
    width: 100%
    height: 100%
    position: absolute
    top: 0
    left: 0
    background-color: $background-color

.section
    position: absolute
    left: 0
    top: 50%
    transform: translateY(-50%)
    background-color: black
    width: 100%
    box-shadow: rgba(0, 0, 40, 0.5) 0 4px 4px
    overflow: hidden

.container
    position: absolute
    top: 0
    left: 0
    height: 100%
    width: 100%
    overflow: hidden


