<div class="container">
    <div class="header">
        <div class="header-title">
            THE LOST SOULS
        </div>
        <div class="header-tagline">
            Visually in control. Still. Sort of.
        </div>
    </div>

    <div #carousel class="carousel" 
        [style.scroll-padding-top]="scrollPaddingTop"
        [style.scroll-padding-bottom]="scrollPaddingBottom" 
        [style.padding-top]="scrollPaddingTop"
        [style.padding-bottom]="scrollPaddingBottom">

        <div *ngFor="let section of config.sections, let i = index" 
            class="section-wrapper"
            [style.height]="config.sectionHeight | suffix: 'px'">

            <!-- It seems like for the scroll-snap to work in safari, the snap-elements cannot be transformed -->
            <div class="section-transform" [style.transform]="layout[i].transform">
                <app-carousel-section 
                    class="section" 
                    [style.height]="sectionContentHeight | suffix: 'px'" 
                    [content]="section"
                    [options]="config" 
                    [focus]="layout[i].focus"
                    [backgroundTransform]="layout[i].backgroundTransform">
                </app-carousel-section>
            </div>
        </div>
    </div>

    <!-- <app-lensflare *ngFor="let flare of flares"
        [image]="flare.image"
        [imageScale]="flare.imageScale"
        [position]="flare.position"
        [polygons]="polygons">
    </app-lensflare> -->

    <div *ngIf="showCenter" style="position: absolute; width: 100%; height: 1px; background-color: red; left: 0"
        [style.top]="config.center | suffix: 'px'">
    </div>
</div>