
@import url('https://fonts.googleapis.com/css?family=Sue+Ellen+Francisco&display=swap')
@import '../../shared'

.container
    position: absolute
    top: 0
    left: 0
    // For some reason using viewport units makes scrolling faster than e.g. percentage
    height: 100%
    width: 100%
    overflow: hidden
    perspective: 0px
    transform-style: preserve-3d
    background-color: $background-color

.item-image
    display: block
    position: absolute
    top: 0
    left: 50%
    max-height: 100%
    transform: translateX(-50%) translateZ(-1em)

.item-background
    position: absolute
    top: 50%
    left: 50%
    height: 256px
    width: 256px
    will-change: transform
    overflow: hidden


.content
    position: absolute
    left: 50%
    top: 0
    height: 100%
    transform: translateX(-50%) translateZ(2em)
    user-select: none
    pointer-events: none
    // will-change: opacity
    color: white
    oveflow: hidden

.title
    width: 100%
    color: white
    pointer-events: none
    user-select: none
    padding: 2px 0 0 0

.subtitle
    width: 100%
    text-align: left
    color: white
    pointer-events: none
    user-select: none
    

.actions
    position: absolute
    bottom: 0
    left: 50%
    height: 40px
    display: flex
    flex-direction: row
    will-change: transform
    transform-origin: 50% 100%
    transform: translateX(-50%) scale(0.3)

.action
    user-select: none
    display: flex
    align-items: center
    box-sizing: content-box
    padding: 0 8px 0 8px
    cursor: pointer
    pointer-events: auto
    // For some reason I don't understand, the action icons kept getting repainted so promoted to their own layer.
    will-change: transform

.github-icon
    width: 32px
    height: 32px
    box-sizing: content-box
    padding: 2px

.header
    position: absolute
    width: 100%
    top: 0
    will-change: transform
    transform: translateZ(0em)
    color: rgb(200, 200, 200)

.header-title
    position: relative
    text-align: center
    font-size: 35pt

.header-tagline
    position: relative
    text-align: center
    font-size: 15pt


.scroll-container-background
    will-change: transform
    position: absolute
    background-color: $background-color
    // background-image: linear-gradient(to bottom, $background-color 0%, rgb(20, 20, 30))
    width: 100%


.flare
    position: absolute
    left: 50%
    top: 0
    width: 1220px
    height: 880px
    mix-blend-mode: screen
    will-change: transform
    user-select: none
    pointer-events: none
    transform-origin: 50% 50%





