
@import url('https://fonts.googleapis.com/css?family=Sue+Ellen+Francisco&display=swap')
@import '../../shared'

.item-image
    top: 0
    left: 50%
    position: absolute
    transform: translateX(-50%) translateZ(-1em)
    // will-change: transform
    // mask-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 30%, rgba(0, 0, 0, 1) 70%, rgba(0, 0, 0, 0))
    // mix-blend-mode: screen

.item-background
    position: absolute
    top: 50%
    left: 50%
    height: 256px
    width: 256px
    will-change: transform
    // mask-image: radial-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, 1) 20%, rgba(0, 0, 0, 0) 70%)
    // background-color: black
    overflow: hidden


.content
    position: absolute
    left: 50%
    top: 0
    height: 100%
    transform: translateX(-50%) translateZ(2em)
    user-select: none
    pointer-events: none
    will-change: opacity

.title
    width: 100%
    // text-align: left
    color: white
    pointer-events: none
    user-select: none
    padding: 2px 0 0 0

.subtitle
    width: 100%
    text-align: left
    color: white
    // font-size: 8px
    // box-sizing: border-box
    pointer-events: none
    user-select: none
    
    // padding: 5px 0 0 0

.year
    width: 100%
    text-align: center
    color: white
    font-size: 8pt
    box-sizing: border-box
    pointer-events: none
    user-select: none

.actions
    position: absolute
    bottom: 0
    left: 50%
    height: 40px
    display: flex
    flex-direction: row
    will-change: transform
    transform-origin: 50% 100%
    transform: translateX(-50%) scale(0.3)

.action
    user-select: none
    display: flex
    align-items: center
    box-sizing: content-box
    padding: 0 8px 0 8px
    cursor: pointer
    pointer-events: auto
    // For some reason I don't understand, the action icons kept getting repainted so promoted to their own layer.
    will-change: transform

.github-icon
    width: 32px
    height: 32px
    box-sizing: content-box
    padding: 2px

.header
    position: absolute
    width: 100%
    top: 0
    // height: 500px
    // background-color: white
    will-change: transform
    transform: translateZ(0em)
    color: rgb(200, 200, 200)
    // left: 50%
    // transform: translateX(-50%)
    // will-change: opacity
    // font-size: 35pt

.header-title
    position: relative
    text-align: center
    // top: 0
    // left: 50%
    // transform: translateX(-50%)
    font-size: 35pt

.header-tagline
    position: relative
    text-align: center
    // top: 10%
    // left: 50%
    // transform: translateX(-50%)
    // will-change: opacity
    font-size: 15pt


.scroll-container-background
    will-change: transform
    position: absolute
    background-color: $background-color
    width: 100%


.flare
    position: absolute
    left: 50%
    top: 0
    width: 1220px
    height: 880px
    mix-blend-mode: screen
    will-change: transform
    user-select: none
    pointer-events: none
    transform-origin: 50% 50%





