
@import '../../shared'

// @import url('https://fonts.googleapis.com/css?family=Waiting+for+the+Sunrise&display=swap')


.scroll-container-background
    will-change: transform
    position: absolute
    background-color: $background-color
    width: 100%




