@import './shared'
@import url('https://fonts.googleapis.com/css?family=Dynalight&display=swap')
@import url('https://fonts.googleapis.com/css?family=Sue+Ellen+Francisco&display=swap')
@import url('https://fonts.googleapis.com/css?family=Geo&display=swap')
@import url('https://fonts.googleapis.com/css?family=Waiting+for+the+Sunrise&display=swap')
@import url('https://fonts.googleapis.com/css?family=Reenie+Beanie=swap')
@import url('https://fonts.googleapis.com/css?family=Waiting+for+the+Sunrise&display=swap')



html, body
    height: 100%
    width: 100%
    margin: 0
    // font-family: 'Sue Ellen Francisco', cursive
    // font-family: 'Geo', sans-serif
    // font-family: 'Dynalight', cursive
    // font-family: 'Reenie Beanie', cursive
    // font-family: 'Nanum Brush Script', cursive
    font-family: 'Waiting for the Sunrise', cursive

    background-color: $background-color

    // Because of all the layers, just disable all interaction here and enable it the few places we need it.
    user-select: none
    pointer-events: none

    // Disable overscroll/bounce on IOS
    overflow: hidden
    position: fixed